

/* td,
th {
  font-family: 'Poppins', sans-serif;
  padding: 25px 30px 10px ;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12px;

}
td {
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fefdfd;
  color: rgb(37, 36, 36);
} */
